<div class="clr-row">
  <div class="clr-col">
    <h1>Tags</h1>
  </div>
</div>

<div class="clr-row">
  <div class="clr-col">
    <clr-datagrid>
      <clr-dg-column>ID</clr-dg-column>
      <clr-dg-column>RFID Identification</clr-dg-column>

      <clr-dg-row *ngFor="let tag of tags">
        <clr-dg-cell>{{ tag.id }}</clr-dg-cell>
        <clr-dg-cell>{{ tag.identificationTagRFID }}</clr-dg-cell>
      </clr-dg-row>
      <clr-dg-footer>{{ tags.length }} tags</clr-dg-footer>
    </clr-datagrid>
  </div>
  <div class="clr-col">
    <h2>Tag Form</h2>
    <form clrForm>
      <clr-input-container>
        <label>RFID Identification</label>
        <input
          type="text"
          clrInput
          name="identificationTagRFID"
          [(ngModel)]="formTag.identificationTagRFID"
        />
      </clr-input-container>
      <br />
      <button
        *ngIf="!formTag.id"
        [clrLoading]="submitBtnState"
        type="submit"
        class="btn btn-success-outline"
        (click)="addTag()"
      >
        Add
      </button>
    </form>
  </div>
</div>
